root = true

[*.py]
indent_style = space
indent_size = 4
max_line_length = 100
insert_final_newline = true
trim_trailing_whitespace = true

# PyCharm 兼容性
ij_python_wrap_long_lines = false
ij_continuation_indent_size = 4
ij_python_blank_lines_after_imports = 1
ij_python_blank_lines_around_method = 1
ij_python_align_multiline_parameters = true
